@import url("https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shadows+Into+Light&family=Teko:wght@300..700&display=swap" );

:root{
    --color-primary: #dd521f;
    --primary-color--dark: rgb(196, 47, 47);
    --text-dark: #0a0a0a;
    --bgcolor: #090808;
    --text-light: #737373;
    --extra-light: #e5e5e5;
    --lesser-white: #cac8c8;
    --white: #ffffff;
    --max-width: 1200px;
    --header-font:  "New Amsterdam", sans-serif;
    --logoFont: "Shadows Into Light", cursive;
    --extra_font: "Bebas Neue", "sans-serif";
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* img {
    display: flex;
    width: 100%;
} */


a{
   text-decoration: none;
   transition: 0.3s;
}

html, body {
    scroll-behavior: smooth;
 
}


body{
    /* font-family: "New Amsterdam", sans-serif; */
    font-family: 'Poppins';

}


/* navbar area */
nav{ 
    background-color: var(--bgcolor);
    width: 100%;
    z-index: 9;
    position: fixed;
    padding: 1rem 1rem;
}

.nav_bar {
    width: 100%;
    max-width: var(--max-width);
    margin-inline: auto;
    padding: 0rem 2.2rem;
    
}

.nav_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bgcolor);
}

.nav_logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav_logo a {
    color: var(--color-primary);
    font-family: var(--logoFont);
    font-weight: 800;
    font-size: 1.6rem;
    letter-spacing: 1px;

}

.nav_logo a span.vibe {
    color: var(--white);
    

}

.nav_logo img{
    max-width: 50px;
}

.nav_menu_btn {
    font-size: 1.4rem;
    color: var(--white);
    cursor: pointer;
}

.nav_links {
    position: absolute;
    top: 68px;
    left: 0;
    width: 100%;
    padding: 2rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--bgcolor);
    transition: 0.5s;
    z-index: -1;
    transform: translateY(-100%);

}

.nav_links.open{
    transform: translateY(0);
}

.nav_links a {
    font-size: 1.2rem;
    font-family: var(--header-font);
    white-space: nowrap;
    color: var(--white);
    transition: 0.3s;
}

.nav_links a:hover {
    color: var(--color-primary);
}



/*home section  */

section {
    position: relative;
    padding: 8% 6%;
    
}


.main_home{
    position: relative;
    width: 100%;
    height: 100vh;
    background: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(assets/victor-freitas-KkYWWpurqbE-unsplash.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    padding: 16% 10%;
    
}


.home_text h1{
    font-size: 5rem;
    font-weight: 900;
    font-family: var(--header-font);
    line-height: 5rem;
    letter-spacing: 4px;
    color: var(--color-primary);
    
}

.home_text h2{
    margin-bottom: 2rem;
    font-size: 2.3rem;
    font-weight: 400;
    font-family: var(--header-font);
    line-height: 2.5rem;
    letter-spacing: 1px;
    color: var(--white);
}

.home_text p{
    font-size: 13px;
    margin-bottom: 1.4rem;
    margin-top: -1rem;
    color: var(--extra-light);

}

.btnclass {
    display: inline-block;
    color: var(--white);
    border: none;
    border-radius: 2px;
    font-size: 10px;
    font-weight: 600;
    padding: 11px 23px;
    transition: all .42s ease;
    background-color: var(--color-primary);
    cursor: pointer;
}

.btnclass:hover{
    background-color: var(--myblack-color);
    color: var(--white);
    transition: all .42s ease;
    background-color: var(--primary-color--dark);

}


/* about section */
.about_container {
    /* background-color: #131212; */
    background-color: var(--bgcolor);
}

.about_header {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr); */
    gap: 1.8rem;
}

.about_header .section_header{
    font-size: 3.6rem;
    color: var(--color-primary);
    letter-spacing: 2px;
    font-family: var(--header-font);
    text-align: right;

}

.about_header .section_description{
    color: var(--lesser-white);
    font-weight: 500;
    text-align: left;
    max-width: 400px;
    /* margin-inline: auto; */
    margin-inline-start: unset;
    font-size: 0.8rem;

}

.about_grid {
    margin-top: 4rem;
    display: grid; 
    /* grid-template-columns: repeat(3, 1fr);    */
    gap: 4rem;
}

.about_card h4{
    position: relative;
    isolation: isolate;
    margin-bottom: 1rem;
    padding-top: 4rem;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--header-font);
    letter-spacing: 2px;
    color: var(--color-primary);

}

.about_card h4::before {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 7rem;
    line-height: 6rem;
    color: var(--text-light);
    opacity: 0.1;
    z-index: -1;

}

.about_card:nth-child(1) h4::before {
    content: "01";
}

.about_card:nth-child(2) h4::before {
    content: "02";
}

.about_card:nth-child(3) h4::before {
    content: "03";
}

.about_card p {
    color: var(--lesser-white);
    font-size: 0.7rem;

}

.session {
    padding: 0;
    display: grid;
    
}

.session_card {
    padding: 5rem 2rem;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.session_card:nth-child(1) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("assets/anastase-maragos-7kEpUPB8vNk-unsplash\(1\).jpg")
}   

.session_card:nth-child(2) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("assets/alexander-redl-d3bYmnZ0ank-unsplash.jpg")
}

.session_card:nth-child(3) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("assets/jonathan-borba-H6wTktsFxik-unsplash.jpg")
}

.session_card:nth-child(4) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("assets/alonso-reyes-0HlI76m4jxU-unsplash.jpg")
}   


.session_card h4 {
    position: relative;
    isolation: isolate;
    max-width: fit-content;
    margin-inline: auto;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 500;
    font-family: var(--header-font);
    color: var(--white);

}

.session_card h4::before {
    position: absolute;
    content: "";
    top: 0;
    left: -5px;
    height: 25px;
    aspect-ratio: 1;
    background-color: var(--color-primary);
    z-index: -1;
}

.session_card p {
    max-width: 360px;
    font-size: 0.9rem;
    margin-inline: auto;
    margin-bottom: 2rem;
    color: var(--extra-light);
}

.btn_session {
    border:  1px solid var(--white);
    border-radius: 2px;
    padding: 12px 20px;
    font-size: 10px;
    font-weight: 600;
    background-color: transparent;
    color: var(--white);
    
} 

.btn_session:hover{
    border:  1px solid var(--color-primary);
    background-color: var(--color-primary);
    color: var(--white);
    cursor: pointer;
    transition: all .42s ease;
}


/* trainer section */
.trainer_container {
    padding: 6% 15%;
}

.trainer_container h2{
    padding: 1rem -1rem;
    font-size: 2.3rem;
    font-family: var(--header-font);
    text-align: center;
}
.trainer_grid {
    display: grid;
    margin-top: 4rem;
    gap: 2rem;
}

.trainer_card img{
    width: 100%;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: 0.2s;
}

.trainer_card:hover img {
    transform: scale(1.1);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3); 
}
.trainer_card h4 {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: var(--header-font);
    color: var(--text-dark);
    text-align: center;
}

.trainer_card p {
    font-size: 0.8rem;
    margin-bottom: 0.6rem;
    text-align: center;
    color: var(--text-light);
}

.trainer_socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.trainer_socials a {
    font-size: 1rem;
    color: var(--text-light);
}

.trainer_card a:hover{
    color: var(--color-primary);
}

/* membership section */

.membership {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("assets/daniel-apodaca-WdoQio6HPVA-unsplash.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.membership_container .section_header {
    color: var(--white);
    text-align: center;
    font-family: var(--header-font);
    font-size: 2.3rem;
    letter-spacing: 1px;
}


.membership_grid {
    margin-top: 4rem;
    display: grid;
    gap: 2rem;
    padding: 0 3%;
}

.membership_card {
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.3s;
}

.membership_card:hover {
    background-color: var(--color-primary);
}

.membership_card h4 {
    margin-bottom: 1.2rem;
    font-size: 1.9rem;
    font-weight: 500;
    font-family: var(--header-font);
    color: var(--white);
}

.membership_card ul{
    margin-bottom: 1rem;
    list-style: none;
    display: grid;
    gap: 1rem;
}

.membership_card li {
    display: flex;
    color: var(--white);
    gap: 10px;
    font-size: 14px;
}

.membership_card li span {
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--color-primary);
    transition: 0.3s;
}

.membership_card:hover li span {
    color: var(--white);
}

.membership_card h3 {
    margin-bottom: 1rem;
    font-size: 2.3rem;
    font-weight: 400;
    font-family: var(--header-font);
    color: var(--white);
}

.membership_card h3 :is(sup, span) {
    font-size: 1.3rem;
    font-weight: 400;

}

.btnclass:hover {
    color: rgb(175, 175, 175);
}

.membership_card:hover .btnclass{
    background-color: var(--text-dark);

}

/* testimonials section */
.swiper{
    margin-top: 1rem;
    padding-bottom: 3rem;
    width: 100%;
}

.client_card {
    max-width: 600px;
    margin-inline: auto;
    text-align: center;
}

.client_card img {
    width: 100px;  
    height: 100px; 
    border-radius: 50%;
    margin-inline: auto;
    object-fit: cover; 
    margin-bottom: 1rem;
    border: 2px solid var(--color-primary);
}

.client_card > div {
    font-size: 2rem;
    line-height: 2rem;
    color: var(--text-light);
    opacity: 0.5;
}

.client_card p {
    color: var(--text-light);
    margin-bottom: 1rem;
}

.client_card h4 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
    margin-bottom: 3rem;

}


.client_container .section_header {
    text-align: center;
    font-family: var(--header-font);
    font-size: 2.3rem;
    letter-spacing: 1px;
    margin-bottom: 2.5rem;
}

.swiper-pagination-bullet {
    height: 12px;
    width: 12px;
}

.swiper-pagination-bullet-active {
    background-color: var(--color-primary);
}


/* blog section */
.blog {
    background-color: var(--text-dark);
}

.blog_container .section_header {
    color: var(--white);
    text-align: center;
    font-family: var(--header-font);
    font-size: 2.3rem;
    letter-spacing: 1px;
}

.blog_grid { 
    display: grid;
    gap: 1rem;
    margin-top: 4rem;   
}

.blog_card img{
    margin-bottom: 10px;
    cursor: pointer;
    width: 100%;
}

.blog_card h4 {
    font-size: 1.2rem;
    font-weight: 600;
    max-width: calc(100% - 1rem);
    font-family: var(--header-font);
    color: var(--white);
    transition: 0.3s;
}


.blog_card:hover h4 {
    color: var(--color-primary);
}

.blog_btn {
    margin-top: 4rem;
    text-align: center;
}



/*banner part */
.logo_banner {
    padding-block: 4rem;
    display: grid;
}

.logo_banner img {
    max-width: 150px;
    margin-inline: auto;
}


/*footer part */
.footer {
    background-color: var(--text-dark);
}

.footer_container {
    display: grid;
    gap: 4rem 2rem;
    padding: 5% 7%;

}

/* .footer_logo img {
    margin-bottom: 1rem;
    max-width: 120px;
} */

.footer_col p {
    margin-bottom: 2rem;
    color: var(--text-light);
}

.footer_links {
    list-style: none;
    display: grid;
    gap: 1rem;
}

.footer_links a {
    color: var(--text-light);
}

.footer_links a:hover {
    color: var(--white);
}

.footer_links a span {
    margin-right: 10px;
    font-size: 1.2rem;
    color: var(--color-primary);
}

.footer_col h4{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: var(--header-font);
    color: var(--white);
}

.gallery_grid {
    max-width: 225px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.gallery_grid img {
    width: 70px;  
    height: 80px; 
    margin-inline: auto;
    object-fit: cover; 
    
}

.footer_col form {
    margin-bottom: 2rem;
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border-radius: 2px;
}

.footer_col input {
    width: 100%;
    padding-inline: 1rem; 
    outline: none;
    border: none;
    color: var(--text-dark);
}

.footer_socials{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.footer_socials a {
    padding: 9px 13px;
    font-size: 0.8rem;
    color: var(--color-primary);
    background-color: var(--white);
    border-radius: 100%;
}

.footer_socials a:hover{
    color: var(--white);
    background-color: var(--color-primary);    
}

.footer_bar {
    padding: 1rem;
    font-size: 0.9rem;
    color: var(--text-light);
    text-align: center;
}



@media (width < 630px) {
    .main_home {
        padding: 30% 5%;
    }
    .home_text h1{
        font-size: 3rem;
        letter-spacing: 3px;
        line-height: 2.8rem;

        
    }
    
    .home_text h2{
        margin-bottom: 2rem;
        font-size: 1.1rem;
        font-weight: 400;
        
        
    }
   
}

@media (width > 540px) {
    .about_grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .session_card {
      padding: 7rem 2rem;
    }
  
    .trainer_grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .membership_grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .blog_grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .footer_container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
@media (width > 768px) {
nav {
    padding: 1rem 1rem;
}

.nav_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.nav_header {
    padding: 0;
    background-color: transparent;
}

.nav_logo img {
    max-width: 120px;
}

.nav_menu_btn {
    display: none;
}

.nav_links {
    position: static;
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
    background-color: transparent;
    transform: none;
    z-index: 1;
}

.main_home {
    /* padding-block: 12rem; */
    grid-template-columns: repeat(2, 1fr);
}

.home_text {
    grid-column: 2/3;
}

.about_header {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
}

.about_header .section_header {
    text-align: right;
}

.about_header .section_description {
    text-align: left;
    margin-inline-start: unset;
}

.about_grid {
    grid-template-columns: repeat(3, 1fr);
}

.session {
    grid-template-columns: repeat(2, 1fr);
}

.session_card {
    padding: 10rem 2rem;
}

.trainer_grid {
    grid-template-columns: repeat(4, 1fr);
}

.membership_grid {
    grid-template-columns: repeat(3, 1fr);
}

.blog_grid {
    grid-template-columns: repeat(4, 1fr);
}

.logo_banner {
    grid-template-columns: repeat(4, 1fr);
}

.footer_container {
    grid-template-columns: repeat(3, 1fr);
    }
}

@media (width > 1024px) {
    .trainer_grid {
      gap: 2rem;
    }
  
    .membership_grid {
      gap: 2rem;
    }
  
    .membership_card {
      padding: 2rem;
    }
  }


  